body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  background: #eee;
  font-family: sans-serif;
  margin: 0;
  padding: 10px; 
}

.calculator {
  background: #333;
  padding: 20px;
  border-radius: 10px;
  display: grid;
  gap: 10px;
}

input, button {
  padding: 10px;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  text-align: center;
}

#operator{
  padding: 10px;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  text-align: center;
}
::placeholder {
  opacity: 0.5; 
}

#result {
  background: #fff;
}
@media (max-width: 400px) {
  .calculator {
    width: 90%;
    padding: 15px;
  }

  input, select, button {
    font-size: 15px;
    padding: 8px;
  }
}
